.content {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  min-height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title {
  width: calc(100% - 2*70px);
  padding-bottom: 23px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000000;
  font-size: 22px;
  line-height: 1.21;
  font-weight: 400;    
  color: #000000;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section__title {
    margin: 90px auto 0;
    width: calc(100% - 2*50px);    
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .section__title {
    width: calc(100% - 2*30px);
  }
}

@media screen and (max-width: 499px) {
  .section__title {
    width: calc(100% - 2*18px);
    padding-bottom: 28px;
    line-height: 1.22;
    margin: 70px auto 0;    
    font-size: 18px;    
  }
}